.carousel {
    display: grid;

    &.carousel--arrows-true {
        grid-template-areas: 
            'previous content next';
        grid-template-columns: minmax(0, 3rem) minmax(0, 7fr) minmax(0, 3rem);
        gap: 1em;
    }

    &.carousel--arrows-false {
        grid-template-areas: 
            'content';
        grid-template-columns: minmax(0, 1fr);
    }

    .carousel__previous { grid-area: previous; }
    .carousel__next { grid-area: next; }
    .carousel__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carousel__slide {
        user-select: none;

        &.carousel__slide--active {
            user-select: text;
        }
    }

    .carousel__previous, .carousel__next {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            position: relative;
            padding: 0.5em;
            font-size: 2rem;
        }
    }

    .carousel__previous {
        align-items: flex-end;
    }

    .carousel__next {
        align-items: flex-start;
    }
}