.input {
    border-style: solid;
    border-radius: 0.1em;
    border-width: 0.1em;
    border-color: var(--color-accent);
    padding: 0.1em 0.2em;
    resize: none;
    transition: all 0.1s;

    &:focus {
        outline: 0.2rem solid var(--color-secondary-tinted);
        outline-offset: 0.2rem;
    }

    &:invalid {
        border-color: var(--color-status-danger);
    }
}