.toggle {
    cursor: pointer;
    position: relative;
    height: 1em;
    width: 3em;
    padding: 0.7em;
    border: 2px solid var(--color-contrast-toned);
    border-radius: 100px;
    background-color: var(--color-accent-highlight);
    vertical-align: middle;
    transition: all 0.1s ease-in-out;
    
    .knob {
        color: white;
        transition: all 0.2s;
    }

    &.toggle--off {
        .knob {
            transform: translate(-50%);
        }
    }

    &.toggle--on {
        .knob {
            transform: translate(50%);
        }
    }

    &:focus {
        outline: 0.2rem solid var(--color-secondary-tinted);
        outline-offset: 0.2rem;
    }
}