@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;500;700&family=Poppins:wght@700&display=swap")
	layer(base);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")
	layer(base);
@import url("https://fonts.cdnfonts.com/css/cubano?styles=103531") layer(base);

@import "tailwindcss";

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
	--breakpoint-\*: initial;
	--breakpoint-sm: 700px;
	--breakpoint-md: 1100px;
	--breakpoint-lg: 1400px;

	--font-\*: initial;
	--font-special: "Bebas Neue", sans-serif;
	--font-display: "Cubano", sans-serif;
	--font-body: "Inter", sans-serif;
	--font-math: math, sans-serif;

	--text-\*: initial;
	--text-sm: 0.9rem;
	--text-md: 1rem;
	--text-lg: 1.1rem;
	--text-xl: 1.2rem;
	--text-2xl: 1.3rem;
	--text-3xl: 1.5rem;
	--text-4xl: 2rem;
	--text-5xl: 3rem;
	--text-6xl: 5rem;
	--text-7xl: 7rem;
	--text-8xl: 10rem;
	--text: 0.9rem;

	--leading-\*: initial;
	--leading-sm: 1.2rem;
	--leading-md: 1.5rem;
	--leading-lg: 1.2rem;
	--leading-xl: 1.2rem;
	--leading-2xl: 1.2rem;
	--leading-3xl: 1.4rem;
	--leading-4xl: 1.8rem;
	--leading-5xl: 2.4rem;
	--leading-6xl: 2.8rem;
	--leading-7xl: 3.2rem;
	--leading-8xl: 3.6rem;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-background: #111111;
	--color-background-soft: #222222;
	--color-background-overlay: #434343;

	--color-foreground: #ffffff;
	--color-foreground-soft: #ffffff;
	--color-foreground-overlay: #ffffff;

	--color-primary: #ee3866;
	--color-primary-foreground: #ffffff;

	--color-secondary: #ffbc2c;
	--color-secondary-foreground: #111111;

	--color-tertiary: #4fc3c7;
	--color-tertiary-foreground: #0b2728;

	--color-success: #22c55e;
	--color-success-foreground: #22c55e;

	--color-destructive: #ef4444;
	--color-destructive-foreground: #ef4444;

	--color-muted: ;
	--color-muted-foreground: ;

	--color-accent: ;
	--color-accent-foreground: ;

	--color-popover: ;
	--color-popover-foreground: ;

	--color-card: ;
	--color-card-foreground: ;

	--radius-lg: 10px;
	--radius-md: 8px;
	--radius-sm: 6px;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-fade-in: fade-in 0.2s ease-in;
	--animate-fade-out: fade-out 0.2s ease-out;
	--animate-spin-slow: spin 6s linear infinite;
	--animate-wiggle: wiggle 1s ease-in-out infinite;
	--animate-heart-beat: heartBeat 1s infinite;
	--animate-hflip: flipHorizontal 2s infinite;
	--animate-vflip: flipVertical 2s infinite;
	--animate-swing: swing 2s ease-out infinite;
	--animate-rubber-band: rubberBand 1s infinite;
	--animate-flash: flash 2s infinite;
	--animate-head-shake: headShake 2s infinite;
	--animate-wobble: wobble 1s infinite;
	--animate-jello: jello 2s infinite;
	--animate-float-away: floatAway 0.7s linear;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-15deg);
		}
		50% {
			transform: rotate(15deg);
		}
	}
	@keyframes heart-beat {
		0% {
			transform: scale(1);
		}
		14% {
			transform: scale(1.3);
		}
		28% {
			transform: scale(1);
		}
		42% {
			transform: scale(1.3);
		}
		70% {
			transform: scale(1);
		}
	}
	@keyframes flip-horizontal {
		50% {
			transform: rotateY(180deg);
		}
	}
	@keyframes flip-vertical {
		50% {
			transform: rotateX(180deg);
		}
	}
	@keyframes swing {
		20% {
			transform: rotate3d(0, 0, 1, 15deg);
		}
		40% {
			transform: rotate3d(0, 0, 1, -10deg);
		}
		60% {
			transform: rotate3d(0, 0, 1, 5deg);
		}
		80% {
			transform: rotate3d(0, 0, 1, -5deg);
		}
		to {
			transform: rotate3d(0, 0, 1, 0deg);
		}
	}
	@keyframes rubber-band {
		from {
			transform: scale3d(1, 1, 1);
		}
		30% {
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			transform: scale3d(1.05, 0.95, 1);
		}
		to {
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes flash {
		25%,
		40% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		75% {
			opacity: 0;
		}
	}
	@keyframes head-shake {
		0% {
			transform: translateX(0);
		}
		6.5% {
			transform: translateX(-6px) rotateY(-9deg);
		}
		18.5% {
			transform: translateX(5px) rotateY(7deg);
		}
		31.5% {
			transform: translateX(-3px) rotateY(-5deg);
		}
		43.5% {
			transform: translateX(2px) rotateY(3deg);
		}
		50% {
			transform: translateX(0);
		}
	}
	@keyframes wobble {
		from {
			transform: translate3d(0, 0, 0);
		}
		15% {
			transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		}
		30% {
			transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		}
		45% {
			transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		}
		60% {
			transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		}
		75% {
			transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		}
		to {
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes jello {
		from,
		11.1%,
		to {
			transform: translate3d(0, 0, 0);
		}
		22.2% {
			transform: skewX(-12.5deg) skewY(-12.5deg);
		}
		33.3% {
			transform: skewX(6.25deg) skewY(6.25deg);
		}
		44.4% {
			transform: skewX(-3.125deg) skewY(-3.125deg);
		}
		55.5% {
			transform: skewX(1.5625deg) skewY(1.5625deg);
		}
		66.6% {
			transform: skewX(-0.78125deg) skewY(-0.78125deg);
		}
		77.7% {
			transform: skewX(0.390625deg) skewY(0.390625deg);
		}
		88.8% {
			transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		}
	}
	@keyframes floatAway {
		from {
			transform: translate(-50%, 10%);
			opacity: 0;
		}
		50% {
			transform: translate(-50%, -20%);
			opacity: 1;
		}
		to {
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}
}

@layer components {
	h1 {
		@apply font-display text-6xl leading-6xl;
		margin-top: 0.23rem;
		margin-bottom: 0.67rem;
	}
	h2 {
		@apply font-display text-4xl leading-4xl;
		margin-top: -0.3rem;
		margin-bottom: 0.06rem;
	}
	h3 {
		@apply font-display text-2xl leading-2xl;
		margin-top: -0.25rem;
		margin-bottom: -0.13rem;
	}
	h4 {
		@apply font-display text-xl leading-xl;
		margin-top: -0.2rem;
		margin-bottom: -0.15rem;
	}
	h5 {
		@apply font-display text-lg leading-lg;
		margin-top: -0.3rem;
		margin-bottom: -0.2rem;
	}
	h6 {
		@apply font-display text-md leading-md;
		margin-top: -0.45rem;
		margin-bottom: -0.4rem;
	}
	p {
		@apply font-body text-md leading-md;
		margin-top: -0.45rem;
		margin-bottom: -0.4rem;
		opacity: 0.8;
	}
	code {
		@apply font-body text-md leading-md;
		margin-top: -0.45rem;
		margin-bottom: -0.4rem;
		opacity: 0.8;
	}

	@media (min-width: var(--breakpoint-sm)) {
		h1 {
			@apply font-display text-6xl leading-6xl;
			margin-top: 0.23rem;
			margin-bottom: 0.67rem;
		}
		h2 {
			@apply font-display text-4xl leading-4xl;
			margin-top: -0.3rem;
			margin-bottom: 0.06rem;
		}
		h3 {
			@apply font-display text-2xl leading-2xl;
			margin-top: -0.25rem;
			margin-bottom: -0.13rem;
		}
		h4 {
			@apply font-display text-xl leading-xl;
			margin-top: -0.2rem;
			margin-bottom: -0.15rem;
		}
		h5 {
			@apply font-display text-lg leading-lg;
			margin-top: -0.3rem;
			margin-bottom: -0.2rem;
		}
		h6 {
			@apply font-display text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
		}
		p {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
		code {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
	}

	@media (min-width: var(--breakpoint-md)) {
		h1 {
			@apply font-display text-6xl leading-6xl;
			margin-top: 0.23rem;
			margin-bottom: 0.67rem;
		}
		h2 {
			@apply font-display text-4xl leading-4xl;
			margin-top: -0.3rem;
			margin-bottom: 0.06rem;
		}
		h3 {
			@apply font-display text-2xl leading-2xl;
			margin-top: -0.25rem;
			margin-bottom: -0.13rem;
		}
		h4 {
			@apply font-display text-xl leading-xl;
			margin-top: -0.2rem;
			margin-bottom: -0.15rem;
		}
		h5 {
			@apply font-display text-lg leading-lg;
			margin-top: -0.3rem;
			margin-bottom: -0.2rem;
		}
		h6 {
			@apply font-display text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
		}
		p {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
		code {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
	}

	@media (min-width: var(--breakpoint-lg)) {
		h1 {
			@apply font-display text-6xl leading-6xl;
			margin-top: 0.23rem;
			margin-bottom: 0.67rem;
		}
		h2 {
			@apply font-display text-4xl leading-4xl;
			margin-top: -0.3rem;
			margin-bottom: 0.06rem;
		}
		h3 {
			@apply font-display text-2xl leading-2xl;
			margin-top: -0.25rem;
			margin-bottom: -0.13rem;
		}
		h4 {
			@apply font-display text-xl leading-xl;
			margin-top: -0.2rem;
			margin-bottom: -0.15rem;
		}
		h5 {
			@apply font-display text-lg leading-lg;
			margin-top: -0.3rem;
			margin-bottom: -0.2rem;
		}
		h6 {
			@apply font-display text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
		}
		p {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
		code {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
	}

	@media (min-width: var(--breakpoint-xl)) {
		h1 {
			@apply font-display text-8xl leading-8xl;
			margin-top: -0.6rem;
			margin-bottom: 0.4rem;
		}
		h2 {
			@apply font-display text-5xl leading-5xl;
			margin-top: -0.3rem;
			margin-bottom: 0rem;
		}
		h3 {
			@apply font-display text-3xl leading-3xl;
			margin-top: -0.2rem;
			margin-bottom: -0.1rem;
		}
		h4 {
			@apply font-display text-2xl leading-2xl;
			margin-top: -0.2rem;
			margin-bottom: -0.1rem;
		}
		h5 {
			@apply font-display text-xl leading-xl;
			margin-top: -0.2rem;
			margin-bottom: -0.2rem;
		}
		h6 {
			@apply font-display text-lg leading-lg;
			margin-top: -0.2rem;
			margin-bottom: -0.2rem;
		}
		p {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
		code {
			@apply font-body text-md leading-md;
			margin-top: -0.45rem;
			margin-bottom: -0.4rem;
			opacity: 0.8;
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}
