---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { Authentication } from '@/components/authentication';
import '@/styles/globals.css'

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

const redirectURL = Astro.url.searchParams.get('redirect') ?? '/'

console.log(redirectURL, session)
if (session) {
  Astro.redirect(redirectURL)
}
---

<Document title="Sign-in">
	<Navigation client:only="react"/>
	<section class='bg-background w-screen h-screen'>
		<Authentication client:only="react"/>
	</section>
</Document>
