---
import Document from '~/layouts/document.astro';
import { getSession } from 'auth-astro/server';
import { Navigation } from '~/components/navigation';
import { TestimonialEditor } from './_layouts/testimonial-editor';
import '~/styles/globals.css'
import { BackgroundGradient } from '~/components/background-gradient';

async function extractSession() {
  if (['development'].includes(import.meta.env.APP_ENVIRONMENT)) {
    return {} as Record<string, any>
  } else {
    return await getSession(Astro.request);
  }
}

const session = await extractSession()

if (!session) {
  return Astro.redirect('/sign-in?redirect=/testimonial/review')
}

const user = {
  full_name: session.user?.name ?? undefined,
  avatar: session.user?.image?.replace?.('=s96-c', '') ?? undefined
}
---

<Document title="Write a Testimonial">
  <Navigation client:only="react"/>
  <section class='bg-background w-screen h-screen overflow-y-scroll overflow-x-hidden'>
    <TestimonialEditor
      fullName={user.full_name}
      avatar={user.avatar}
      client:only="react"
    />
		<BackgroundGradient client:only="react" />
  </section>
</Document>
