.container {
    margin: auto;
}

.logo {

    svg {
        display: block;
        width: 100%;
        max-width: 20rem;
        height: 100%;
        opacity: 0.8;

        text {
            fill: var(--color-contrast-tinted);
        }
        
        rect {
            stroke: var(--color-contrast-tinted);
        }
    }

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        svg {
            opacity: 1;

            text {
                fill: var(--color-secondary-tinted)
            }
        
            rect {
                stroke: var(--color-secondary-tinted);
            }
        }
    }
}