---
import Document from '@/layouts/document.astro';
import { BackgroundGradient } from '@/components/background-gradient';
import '@/styles/globals.css'
---

<Document title="James Schinwald">
	<section class='w-screen h-screen bg-background text-foreground flex flex-col justify-center items-center'>
		<div class='flex flex-col justify-center items-center gap-2'>
			<h2>Page Not Found</h2>
			<p>Are you lost?</p>
		</div>
		<BackgroundGradient client:only="react" />
	</section>
</Document>
