---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { Jumbotron } from '@/components/jumbotron';
import { About } from '@/components/about';
import { Projects } from '@/components/projects';
import { Testimonials } from '@/components/testimonials';
import { Contact } from '@/components/contact';
import backgroundSoftSVG from '@/assets/images/background-soft.svg';
import '@/styles/globals.css'
---

<Document title="James Schinwald">
	<Navigation client:idle />
	<div class='flex flex-col gap-20 sm:gap-32'>
		<section class='z-20 h-screen bg-background text-foreground'>
			<Jumbotron client:only="react" />
		</section>
		<main class='flex flex-col justify-center items-center overflow-x-clip'>
			<section class='relative flex flex-col justify-center items-center gap-20 sm:gap-32 w-full h-full'>
				<About client:only="react" />
				<Projects client:only="react" />
				<Testimonials client:only="react" />
				<Contact client:only="react" />
			</section>
		</main>
		<footer class='flex flex-row justify-center py-10 text-foreground'>
			<p>
				Thanks for stopping by :)
			</p>
		</footer>
		<div 
			class='fixed top-0 left-0 bottom-0 right-0 z-[-1] bg-background-soft flex flex-row justify-center'
			style={{ backgroundImage: `url(${backgroundSoftSVG.src})`, backgroundSize: '30%', backgroundRepeat: 'repeat' }}
		>
			<div class='bg-gradient-to-r from-transparent to-background-soft w-[100px] h-full z-[-1]'></div>
			<div class='bg-background-soft w-full max-w-screen-md h-full z-[-1]'></div>
			<div class='bg-gradient-to-r from-background-soft to-transparent w-[100px] h-full z-[-1]'></div>
		</div>
	</div>
</Document>
