---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { UnderConstruction } from '@/components/under-construction';
import { BackgroundGradient } from '@/components/background-gradient';
import '@/styles/globals.css'
---

<Document title="Write a Testimonial">
	<Navigation client:only="react"/>
	<section class='bg-background w-screen h-screen'>
		<UnderConstruction client:only="react" />
		<!-- <Timeline client:only="react"/> -->
		<BackgroundGradient client:only="react" />
	</section>
</Document>
