---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { UnderConstruction } from '@/components/under-construction';
import '@/styles/globals.css'
---

<Document title="Write a Testimonial">
	<Navigation client:only="react"/>
	<section class='bg-background w-screen h-screen'>
		<UnderConstruction client:only="react" />
		<!-- <Timeline client:only="react"/> -->
    	<div class="absolute z-100 top-0 left-0 h-screen w-screen opacity-10 bg-[radial-gradient(circle,rgba(255,255,255,1)0%,rgba(0,212,255,0)100%)]"></div>
	</section>
</Document>
