---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { TestimonialEditor } from './_layouts/testimonial-editor';
import '@/styles/globals.css'

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect('/sign-in?redirect=/testimonial/review')
}

const user = {
  first_name: session.user?.name?.split(' ')?.at(0) ?? undefined,
  last_name: session.user?.name?.split(' ')?.slice(1, -1).join(' ') ?? undefined,
  avatar: session.user?.image.replace('=s96-c', '') ?? undefined
}

console.log(session)
---

<Document title="Write a Testimonial">
  <Navigation client:only="react"/>
  <section class='bg-background w-screen h-screen overflow-hidden relative'>
    <div class="h-full w-full flex flex-col justify-center items-center gap-10">
      <TestimonialEditor
        firstName={user.first_name}
        lastName={user.last_name}
        avatar={user.avatar}
        client:only="react"
      />
    </div>
  </section>
</Document>
