---
import Document from '@/layouts/document.astro';
import { Navigation } from '@/components/navigation';
import { TestimonialEditor } from './_layouts/testimonial-editor';
import '@/styles/globals.css'

import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect('/sign-in?redirect=/testimonial/review')
}

console.log(session)
---

<Document title="Write a Testimonial">
	<Navigation client:only="react"/>
	<section class='bg-background w-screen h-screen overflow-hidden relative'>
		<div class="h-full w-full flex flex-col justify-center items-center gap-10">
			<TestimonialEditor client:only="react"/>
		</div>
	</section>
</Document>
